<div [class.sub-row]="title">
    <p>{{ title }}</p>
    <mat-table #table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">

        <ng-container matColumnDef="permissionId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Permission</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{displayName(row.permissionId,permissions)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" type="button">
                      <mat-icon>delete</mat-icon></button
                  >&nbsp;
                  
              </mat-cell>
          </ng-container>

          <mat-header-row
              *matHeaderRowDef="displayedColumns"
          ></mat-header-row>
          <mat-row
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{ selected: row == selected }"
              [@animate]="{ value: '*', params: { y: '100%' } }"
          >
          </mat-row>

    </mat-table>
</div>