@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "src/@fuse/scss/fuse";

app-customer-detail {
    // Profile boxes
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            flex-direction: column;padding: 20px;    min-height: 400px;max-height: 400px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {
            .info-line {
                margin-bottom: 24px;
                display: flex;
                width: 50%;
                padding:0px 20px;
                justify-content: space-between;
                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }
                .quest {
                    font-size: 15px;
                }

                .info {
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.app-customer-detail {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 80%;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 200vh;
        display: flex;
        flex-direction: column;
    }
}
.tab-height {
    height: 400px;
}
.container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    .gallery {
        // width: 190px;
        // height: 130px;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 5px;
    }
}

.g-overlay {
    min-width: 320px;
}

gallery {
    font-size: 16px;
}

img {
    width: 150px;
}

.lightbox-example,
.gallerize-example {
    margin: 2em;
}

.product-image {
    width: 265px;
    height: 160px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 100%;
        width: auto;
        max-width: none;
    }
    strong{
        margin-top: 10px;
    }
}
.test1{
    background-size: 'contain' !important;
}

.color-success{
    color:rgb(0, 102, 68);
    font-size: 14px;
}
.color-warn{
color:rgb(255, 240, 179);
font-size: 14px;
}
.color-info{
color:rgb(0, 82, 204);
font-size: 14px;
}
.color-danger{
color:rgb(191, 38, 0);
font-size: 14px;
}

.aml-status{
    margin-left: 15px;
}

.control-section{
    margin-top: 20px;
}

.aml-th{
    font-weight: 600;
    color: black !important
}