<!-- CONTENT CARD -->
<div class="content-card" fusePerfectScrollbar>
    <div fxLayout="row" fxLayoutAlign="space-between" class="p-24">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">security
            </mat-icon>
            <span class="logo-text h1" [@animate]="{
                    value: '*',
                    params: { delay: '100ms', x: '-25px' }
                }">
                Role Module
            </span>
        </div>
        <button mat-raised-button (click)="onCreateDialog()" class="mat-accent">
            <span>ADD NEW </span>
        </button>
    </div>
    <div *ngIf="message.length > 0" fxLayout="row" fxLayoutAlign="center" class="p-24  message-box {{ type }} ">
        {{ message }}
    </div>
    <app-table-row [roles]="roles" [modules]="modules" [dataSource]="roleModulesList" [displayedColumns]="displayedColumns" [renderTemplate]="'relative'" (deleteUser)="deleteUser($event)" (addNewPermission)="addNewModal($event)">
    </app-table-row>
    <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</div>
<!-- / CONTENT CARD -->