<div id="about" class="p-24" fxLayout="row wrap">
    <div class="about-content" fxLayout="column" fxFlex="100">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">General Information</div>
            </header>

            <div class="content">
                <div fxLayout="column" fxFlex="48">
                   
                    <div class="info-line">
                        <div class="title">First Name</div>
                        <div class="info" *ngIf="user.firstName ; else defaultText">{{user.firstName }}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Middle Name</div>
                        <div class="info" *ngIf="user.middleName ; else defaultText">{{user.middleName}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">Last Name</div>
                        <div class="info" *ngIf="user.lastName ; else defaultText">{{user.lastName}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">Email</div>
                        <div class="info" *ngIf="user.email ; else defaultText">{{user.email}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">Gender</div>
                        <div class="info" *ngIf="user.gender ; else defaultText">{{user.gender=='M' ? 'Male' : 'Female'}}</div>
                    </div>
                   
                </div>
                <div fxLayout="column" fxFlex="48">
                   

                    <div class="info-line">
                        <div class="title">Nationality</div>
                        <div class="info" *ngIf="user.nationalityId ; else defaultText">{{getNationality(user.nationalityId)}}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Date of Birth</div>
                        <div class="info" *ngIf="user.dateOfBirth ; else defaultText">{{user.dateOfBirth | dateFormat}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">Contact</div>
                        <div class="info" *ngIf="user.contactNo ; else defaultText">{{user.contactNo}}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Created On</div>
                        <div class="info" *ngIf="user.createdOn ; else defaultText">{{user.createdOn | dateFormat}}</div>
                    </div>

                    <ng-template #defaultText>
                        <app-default-text></app-default-text>
                    </ng-template>
                </div>
            </div>
        </div>

    </div>
</div>