<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon mr-12"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                history
                </mat-icon>
                <span
                    class="logo-text"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{data.id ? 'Edit' : 'New'}} Holiday
                </span>
            </div>
            <button
                mat-icon-button
                (click)="onClose()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <app-message-box
        [type]="errorType"
        [message]="responseMessage"
    ></app-message-box>
        <div fxLayout="row">
            <form
                
                fxLayout="column"
                fxLayoutAlign="start"
                fxFlex="1 0"
                name="holidayForm"
                (ngSubmit)="onSubmit()"
                novalidate
                [formGroup]="holidayForm"
            >
                <div
                    fxLayout="row wrap"
                    fxLayout.lt-lg="column"
                    fxLayoutAlign.lt-lg="center"
                    fxLayoutAlign="start center"
                    fxFlex="1 1 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="100"
                        
                    >
                        <mat-label>Date <app-required-indicator></app-required-indicator></mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="holidayDate"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                       
                        <mat-error>
                            <app-mat-error
                                [control]="holidayForm.get('holidayDate')"
                            ></app-mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        fxFlex="100"
                        
                    >
                        <mat-label>Description <app-required-indicator></app-required-indicator></mat-label>
                        <textarea matInput formControlName="description"></textarea>
                        
                        <mat-error>
                            <app-mat-error
                                [control]="holidayForm.get('description')"
                            ></app-mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        fxFlex="100"
                    >
                        <mat-label>Remarks <app-required-indicator></app-required-indicator></mat-label>
                        <textarea matInput formControlName="remarks"></textarea>
                    
                        <mat-error>
                            <app-mat-error
                                [control]="holidayForm.get('remarks')"
                            ></app-mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div
                    class="actions"
                    fxLayoutGap="10px"
                    fxLayout="row"
                    fxLayoutAlign="end center"
                >
                    <button
                        type="button"
                        mat-raised-button
                        (click)="onClose()"
                        color="secondary"
                        aria-label="Follow"
                    >
                        Cancel
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button
                        type="submit"
                        class="submit-button"
                        appPermission
                        [permissions]="userPermissions"
                        [type]="data.id ? 'edit' : 'create'"
                        mat-raised-button
                        [disabled]="holidayForm.invalid"
                        color="accent"
                        aria-label="Send Message"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
