<div class="auth-container" fxLayout="column">
    <div
        class="auth-form-wrapper"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div
            class="invitation-form"
            [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }"
        >
        <div class="title">UPDATE YOUR PROFILE</div>
            <app-message-box [type]="errorType" [message]="responseMessage"></app-message-box>
            <div fxLayout="row">
                <form
                    class="p-24"
                    fxLayout="column"
                    fxLayoutAlign="start"
                    fxFlex="1 0"
                    name="userForm"
                    (ngSubmit)="onSubmit()"
                    novalidate
                    [formGroup]="invitationForm"
                >
                    <div
                        fxLayout="row wrap"
                        fxLayout.lt-lg="column"
                        fxLayoutAlign.lt-lg="center"
                        fxLayoutGap="10px"
                        fxLayoutAlign="start center"
                        fxFlex="1 1 auto"
                    >
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>First Name <app-required-indicator></app-required-indicator></mat-label>
                            <input matInput formControlName="firstName" />
                            <mat-icon matSuffix class="secondary-text"
                                >account_circle</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('firstName')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>Middle Name</mat-label>
                            <input matInput formControlName="middleName" />
                            <mat-icon matSuffix class="secondary-text"
                                >account_circle</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('middleName')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>Last Name <app-required-indicator></app-required-indicator></mat-label>
                            <input matInput formControlName="lastName" />
                            <mat-icon matSuffix class="secondary-text"
                                >account_circle</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('lastName')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>Email</mat-label>
                            <input matInput  formControlName="email" />
                            <mat-icon matSuffix class="secondary-text"
                                >email</mat-icon
                            >
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>Date of Birth <app-required-indicator></app-required-indicator></mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                formControlName="dateOfBirth"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <!-- <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon> -->
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('dateOfBirth')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pr-4"
                        >
                            <mat-label>Gender <app-required-indicator></app-required-indicator></mat-label>
                            <mat-select formControlName="gender">
                                <mat-option
                                    *ngFor="let item of genderList"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="secondary-text"
                                >face</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('gender')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pr-4"
                        >
                            <mat-label>Nationality <app-required-indicator></app-required-indicator></mat-label>
                            <mat-select formControlName="nationalityId">
                                <mat-option
                                    *ngFor="let item of nationalityList"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="secondary-text"
                                >outlined_flag</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('nationalityId')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>Contact No <app-required-indicator></app-required-indicator></mat-label>
                            <input matInput formControlName="contactNo" />
                            <mat-icon matSuffix class="secondary-text"
                                >phone</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('contactNo')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="48"
                            class="pl-4"
                        >
                            <mat-label>Password <app-required-indicator></app-required-indicator></mat-label>
                            <input type="password" matInput formControlName="password" />
                            <mat-icon matSuffix class="secondary-text"
                                >account_circle</mat-icon
                            >
                            <mat-error>
                                <app-mat-error
                                    [control]="invitationForm.get('password')"
                                ></app-mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                        appearance="outline"
                        fxFlex="48"
                        class="pl-4"
                    >
                        <mat-label>Confirm Password <app-required-indicator></app-required-indicator></mat-label>
                        <input type="password" matInput formControlName="confirmPassword" />
                        <mat-icon matSuffix class="secondary-text"
                            >account_circle</mat-icon
                        >
                        <mat-error>
                            <app-mat-error
                                [control]="invitationForm.get('confirmPassword')"
                            ></app-mat-error>
                        </mat-error>
                    </mat-form-field>
                    </div>

                    <div
                        class="actions"
                        fxLayoutGap="10px"
                        fxLayout="row"
                        fxLayoutAlign="end center"
                    >
                        <button
                            type="button"
                            mat-raised-button
                            color="accent"
                            [routerLink]="'/auth/login'"
                        >
                            Back
                        </button>
                        &nbsp;&nbsp;
                        <button
                        class="submit-button"
                            type="submit"
                            [disabled]="invitationForm.invalid"
                            mat-raised-button
                            color="accent"
                            aria-label="Send Message"
                        >
                            Submit
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
