<div [class.sub-row]="title">
    <p>{{ title }}</p>
    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <!-- COLUMNS AND ROWS-->
        <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>{{ key.includes('Icon') ? '' : key }}</mat-header-cell>

            <mat-cell *matCellDef="let element; let i = dataIndex">
                <span *ngIf="!key.includes('Icon'); else icon">{{ displayName(element['id'],element[key]=='roleId'? roles : modules)  }}</span>

                <ng-template #icon>
                    <mat-icon *ngIf="key === 'expandIcon' " (click)="toggleExpandableSymbol(element['id'])"> {{expandedId==element['id'] ? 'keyboard_arrow_up' : ' keyboard_arrow_down'}} </mat-icon>
                    <mat-icon *ngIf="key === 'expandIcon' " (click)="toggleExpandableSymbol(element['id'])"></mat-icon>

                    <mat-icon *ngIf="key === 'deleteIcon'" color="warn" type="button" (click)="deleteUser()">delete</mat-icon>
                    <mat-icon *ngIf="key === 'addIcon'" type="button" (click)="onAddNewPermission(element['id'])">add_circle</mat-icon>
                </ng-template>

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [@expandableRow]="element['id'] === expandedId ? 'expanded' : 'collapsed'">
                <app-permission *ngIf="selectedKey" [roleModuleId]="element['id']"></app-permission>
            </mat-cell>
        </ng-container>

        <!-- -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail'];">
        </mat-row>

    </mat-table>
</div>