@import "src/@fuse/scss/fuse";

app-login {
    button {
        & .google,
        & .github,
        & .twitter,
        & .facebook {
            width: 100px;
            text-transform: none;
            color: #ffffff !important;
            font-size: 13px;
        }

        @include media-breakpoint("xs") {
            width: 80%;
        }

        & .google {
            background-color: #d73d32;
        }

        &.facebook {
            background-color: rgb(63, 92, 154);
        }
        &.twitter {
            background-color: #2196f3;
        }
        &.github {
            background-color: black;
        }
    }
}
.auth-form {
    width: 480px !important;
    max-width: 480px !important;
}
.remember-forgot-password {
    font-size: 13px;
    margin-top: 8px;

    .remember-me {
        margin-bottom: 16px;
    }

    .forgot-password {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 16px;
    }
}

.register {
    margin: 32px auto 24px auto;
    font-weight: 600;

    .text {
        margin-right: 8px;
    }
}

.separator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;

    .text {
        display: inline-flex;
        position: relative;
        padding: 0 8px;
        z-index: 9999;
        color: black;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 30px;
            position: absolute;
            top: 10px;
            border-top: 1px solid;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }
}
