<div class="page-container page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    credit_card
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Service Request Summary
                </span>
            </div>
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search .. ">
                </div>
            </div>
            <button mat-raised-button color="accent" (click)='downloadReport()' class="add-product-button fuse-white mt-24 mt-md-0">
                <span>DOWNLOAD REPORT</span>
            </button>
        </div>
        <div class="content-card" fusePerfectScrollbar>
            <app-message-box [type]="errorType" [message]="responseMessage"></app-message-box>
            <mat-table #table matSort matSortActive="requestDate" matSortDirection="desc" matSortDisableClear
                [dataSource]="dataSource">
                <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
                    <mat-header-cell *matHeaderCellDef  [mat-sort-header]="key.includes('requestDate') || key.includes('date')?key:null" [disabled]="!key.includes('status') && !key.includes('requestDate')? true : false " >
                        {{ key.includes('action') ? 'Action' : camelToSentenceCase(key) }}</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = dataIndex" class="pl-24">
                            <ng-container [ngSwitch]="key">
                        <span *ngSwitchCase="'status'">
                            <span class="status text-truncate h6 p-4 green-800 requests-status" *ngIf="element[key]=='Approved'; else noTemplate">Approved</span>
                          <ng-template #noTemplate>
                            <span class="status text-truncate h6 p-4 red-500 requests-status" *ngIf="element[key]=='Rejected'; else pendingTemplate"  >Rejected</span>
                          </ng-template>
                          <ng-template #pendingTemplate>
                            <span class="status text-truncate h6 p-4 orange-500 requests-status">Pending</span>
                          </ng-template>
                        </span>
                        <span *ngSwitchCase="'status'">
                            <app-status [status]="element[key]"></app-status>
                        </span>
                        <span *ngSwitchCase="'actions'">
                            <mat-icon type="button" (click)="onDetail(element['id'])" matTooltip="Explore">explore
                            </mat-icon>
                            <mat-icon *ngIf="element['status']==='PENDING'" color="success"
                                matTooltip="Resend Invitation" type="button"
                                (click)=" confirmDialog('invite',element['id'])">near_me</mat-icon> &nbsp;&nbsp;
                        </span>
                        <span *ngSwitchCase="'requestDate'">
                            <span>{{element[key] |  date: "dd-MM-yyyy"}}</span>
                    
                        </span>
                        <span  *ngSwitchDefault style="width:100%;word-wrap: break-word;">
                            <span *ngIf="element[key]; else defaultText" >
                                {{element[key] }}
                            </span>
                        </span>
                    </ng-container>
                        <ng-template #defaultText>
                            <app-default-text>Null</app-default-text>
                        </ng-template>
                        <ng-template #date>
                            {{element[camelToSnakeCase(key)] | date:'mediumDate'}}
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageIndex]="0" [pageSize]="pageSize" showFirstLastButtons
                [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        </div>
    </div>
</div>