<div class="page-container page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" style="min-height: 95px !important; height:95px !important; " fxLayout="column"
      fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/finance'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- APP TITLE -->
        <div class="logo mb-24 mb-md-0" style="flex: 0 1 30%;" fxLayout="row" fxLayoutAlign="start center">
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            Application
          </span>
        </div>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->


      <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" fusePerfectScrollbar>
      <mat-tab-group>
        <mat-tab label="APPLICANT DETAIL">
          <div class="tab-content p-24 ">
            <div class="profile-box info-box general">
              <div class="content" fusePerfectScrollbar>
                <div fxLayout="row wrap">

                  <div class="info-line">
                    <div class="title">Consent Date</div>
                    <div class="info" *ngIf="application.contactNo ; else defaultText">
                      {{application.contactNo}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Financing Amount</div>
                    <div class="info" *ngIf="application.financingAmount ; else defaultText">
                      {{application.financingAmount}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Tenure</div>
                    <div class="info" *ngIf="application.tenor ; else defaultText">
                      {{application.tenor}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Rate</div>
                    <div class="info" *ngIf="application.rate ; else defaultText">
                      {{application.rate}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">APR</div>
                    <div class="info" *ngIf="application.apr ; else defaultText">
                      {{application.apr}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Installment Amount</div>
                    <div class="info" *ngIf="application.installmentAmount ; else defaultText">
                      {{application.installmentAmount}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Purpose</div>
                    <div class="info" *ngIf="application.purpose ; else defaultText">
                      {{application.purpose}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Cash in Hand</div>
                    <div class="info" *ngIf="application.cashInHand ; else defaultText">
                      {{application.cashInHand}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Is your salary in KFHB</div>
                    <div class="info" *ngIf="application.contactNo ; else defaultText">
                      {{application.contactNo}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Salary Account</div>
                    <div class="info">
                      {{application.isKfhSalary?'Yes':'No'}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Settlement Amount</div>
                    <div class="info" *ngIf="application.totalLoanSettlement ; else defaultText">
                      {{application.totalLoanSettlement}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title">Brokerage Fee</div>
                    <div class="info" *ngIf="application.brokerageFee ; else defaultText">
                      {{application.brokerageFee}}</div>
                  </div>
                </div>
                <div class="actions" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="end end">
                  <button type="button" (click)="openDialog()" mat-raised-button color="primary" aria-label="Follow">
                    Send Document Notification
                  </button>
                  &nbsp;
                  <button type="button" (click)="openDialog()" class="submit-button" mat-raised-button color="accent"
                    aria-label="Send Message">
                    Approve
                  </button>
                  <button type="button" (click)="openDialog()" class="submit-button" mat-raised-button color="warn" aria-label="Send Message">
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="BENEFIT REPORT">
          <div class="tab-content p-24 ">
            <app-benefit-report [liabilities]="application?.appliactionLiabilities"></app-benefit-report>
          </div>
        </mat-tab>
        <mat-tab label="DOCUMENTS">
          <div class="tab-content p-24 ">
            <div class="profile-box info-box general">
              <div class="content" fusePerfectScrollbar>
                <app-finance-documents [applicationId]="application?.id" [documents]="application?.documentList">
                </app-finance-documents>
              </div>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>

    </div>

  </div>
  <!-- / CONTENT CARD -->
</div>
<!-- / CENTER -->

<ng-template #defaultText>
  <app-default-text></app-default-text>
</ng-template>