<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="center center">

            <!-- USER -->
            <span class="h5">Manage</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" [ngClass]="{'active accent' : active ==='modules'}" (click)="setActive('modules')" matRipple>
                        <span class="title">
                         <mat-icon class="nav-link-icon" >folders</mat-icon>
                          Modules </span>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" [ngClass]="{'active accent' : active ==='role'}" (click)="setActive('role')" matRipple>
                        <span class="title">
                         <mat-icon class="nav-link-icon" >security</mat-icon>
                          Role </span>
                    </a>
                </div>
               
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" [ngClass]="{'active accent' : active ==='role-module'}" (click)="setActive('role-module')" matRipple>
                        <span class="title">
                         <mat-icon class="nav-link-icon" >security</mat-icon>
                         Manage Role Module</span>
                    </a>
                </div>
                <div class="nav-item" aria-label="starred">
                    <a class="nav-link" matRipple [ngClass]="{'active accent' : active ==='access-control'}" (click)="setActive('access-control')">
                        <div class="title">
                            <mat-icon class="nav-link-icon">accessibility</mat-icon>
                            Access Control</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>