<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="center center">

            <!-- USER -->
            <span class="h5">Manage</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link active accent" matRipple  [routerLink]="'/ent/config/role-module'"
                       >
                        <span class="title">
                         <mat-icon class="nav-link-icon" >security</mat-icon>
                         Manage Role Module</span>
                    </a>
                </div>

                <div class="nav-item" aria-label="frequently contacted" >
                    <a class="nav-link" matRipple [routerLink]="'/ent/config/role-module'">
                        <div class="title">
                        <mat-icon class="nav-link-icon" >security</mat-icon>Manage Permission</div>

                    </a>
                </div>

                <div class="nav-item" aria-label="starred" >
                    <a class="nav-link" matRipple  [routerLink]="'/ent/config/role-module'">
                        <div class="title">
                        <mat-icon class="nav-link-icon" >security</mat-icon>
                        Starred Contacts</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
