@import "src/@fuse/scss/fuse";

.app-role-form {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 60%;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 200vh;
        display: flex;
        flex-direction: column;
    }
}
.basic-container {
    padding: 5px 30px;
  }

