<kt-notice [svg]="'assets/media/svg/icons/Tools/Tools.svg'">
	<p>
		The layout builder is to assist your set and configure your preferred project layout specifications and preview
		it in real time.
		The configured layout options will be saved until you change or reset them.
		To use the layout builder, choose the layout options and click the <code>Preview</code> button to preview the
		changes and click the <code>Export</code> button to download the HTML template with its includable partials of
		this demo.
		In the downloaded folder the partials(header, footer, aside, topbar, etc) will be placed seperated from the base
		layout to allow you to integrate base layout into your application
	</p>
	<p>
		<span class="label label-inline label-pill label-danger label-rounded mr-2">NOTE:</span>
		The downloaded version does not include the assets folder since the layout builder's main purpose is to help to
		generate the final HTML code without hassle.
	</p>
</kt-notice>
<kt-notice [svg]="'assets/media/svg/icons/Tools/Tools.svg'">
	<p>
		The layout builder is to assist your set and configure your preferred project layout specifications and preview
		it in real time.
		The configured layout options will be saved until you change or reset them.
		To use the layout builder, choose the layout options and click the <code>Preview</code> button to preview the
		changes and click the <code>Export</code> button to download the HTML template with its includable partials of
		this demo.
		In the downloaded folder the partials(header, footer, aside, topbar, etc) will be placed seperated from the base
		layout to allow you to integrate base layout into your application
	</p>
	<p>
		<span class="label label-inline label-pill label-danger label-rounded mr-2">NOTE:</span>
		The downloaded version does not include the assets folder since the layout builder's main purpose is to help to
		generate the final HTML code without hassle.
	</p>
</kt-notice>
<kt-notice [svg]="'assets/media/svg/icons/Tools/Tools.svg'">
	<p>
		The layout builder is to assist your set and configure your preferred project layout specifications and preview
		it in real time.
		The configured layout options will be saved until you change or reset them.
		To use the layout builder, choose the layout options and click the <code>Preview</code> button to preview the
		changes and click the <code>Export</code> button to download the HTML template with its includable partials of
		this demo.
		In the downloaded folder the partials(header, footer, aside, topbar, etc) will be placed seperated from the base
		layout to allow you to integrate base layout into your application
	</p>
	<p>
		<span class="label label-inline label-pill label-danger label-rounded mr-2">NOTE:</span>
		The downloaded version does not include the assets folder since the layout builder's main purpose is to help to
		generate the final HTML code without hassle.
	</p>
</kt-notice>