<div class="s008">
    <form>
        <div class="inner-form">
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" style="position: relative;">
                    <mat-icon>search</mat-icon>
                    <input placeholder="Enter National Id" id="nationalId" [formControl]="civilId" class="my-form-input advance-input">
                    <a (click)="openAdvance(false)" *ngIf="isAdvance" class="search-arrow hover">▲</a>
                    <a (click)="openAdvance(true)" *ngIf="!isAdvance" class="search-arrow hover">▼</a>
                </div>
            </div>

            <div class="row search-box">
                <div class="col-8">
                    <div *ngIf="isAdvance" class="advance-search " [@slideInOut]>
                        <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0" [formGroup]="searchForm"
                            novalidate name="searchForm" (ngSubmit)="onSubmit()" novalidate [formGroup]="searchForm">
                            <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center"
                                fxLayoutAlign="start center" fxFlex="1 1 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
                                    <mat-label>First Name</mat-label>
                                    <input matInput formControlName="firstName" />
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
                                    <mat-label>Last Name
                                    </mat-label>
                                    <input matInput formControlName="lastName" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
                                    <mat-label>Contact No</mat-label>
                                    <input matInput formControlName="contactNo" />
                                </mat-form-field>
                              

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
                                    <mat-label>Status 
                                    </mat-label>
                                    <mat-select formControlName="status">
                                        <mat-option *ngFor="let item of statusList" [value]="item.id">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                               
                                <mat-form-field appearance="outline" fxFlex="50"  class="pl-8">
                                    <mat-label>Nationality 
                                    </mat-label>
                                    <input type="text" placeholder="Nationality" matInput formControlName="nationality"
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                        [displayWith]="displayFn">
                                        <mat-option *ngFor="let item of filteredNationalities" [value]="item.name">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="actions" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="end center">
                                <button type="button" mat-raised-button (click)="onReset()" color="secondary"
                                    aria-label="Follow">
                                    Reset
                                </button>
                                &nbsp;
                                <button type="submit" class="submit-button" mat-raised-button color="accent"
                                    aria-label="Send Message">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>