<mat-table #table matSort matSortActive="username" matSortDirection="asc" matSortDisableClear [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">

    <!-- COLUMNS AND ROWS-->
    <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
        <mat-header-cell *matHeaderCellDef>{{ key.includes('action') ? 'Action' : key }}</mat-header-cell>

        <mat-cell *matCellDef="let element; let i = dataIndex">
            <span *ngIf="!key.includes('action'); else action">{{element[key] }}</span>
            <ng-template #action>
                <mat-icon color="warn" type="button" (click)=" confirmDialog(element['id'])">delete</mat-icon> &nbsp;&nbsp;
                <mat-icon type="button" (click)="onEditDialog(element)">mode_edit</mat-icon>
            </ng-template>
        </mat-cell>
    </ng-container>
    <!-- -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>

</mat-table>
<mat-paginator #paginator [pageIndex]="0" [pageSize]="3" showFirstLastButtons [pageSizeOptions]="[3, 5, 10]"></mat-paginator>