<div class="page-container page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent">
    </div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    credit_card
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Service Request Details
                </span>
            </div>
        </div>
        <div class="content-card " fusePerfectScrollbar>
            <div class="text-left mb-24 ">
                <div fxLayout="column" fxFlex="32">
                    <div class="info-line p-24">
                        <div class="title text-bold">Request Type</div>
                        <div class="info">{{requestType}}</div>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="32">
                    <div class="info-line p-24">
                        <div class="title text-bold">Letter Type</div>
                        <div class="info"> {{letterType}}</div>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="32">
                    <div class="info-line p-24">
                        <div class="title text-bold">Customer RIM</div>
                        <div class="info">{{customerRIM}}</div>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="32">
                    <div class="info-line p-24">
                        <div class="title text-bold">Status</div>
                        <div class="info"
                            [ngClass]='status=="Approved"?"green-fg":status=="Rejected"?"red-fg":"yellow-800-fg"'>
                            {{status}}
                        </div>
                    </div>
                </div>
            </div>
            <app-message-box [type]="errorType" [message]="responseMessage"></app-message-box>
            <mat-table #table matSort matSortActive="requestDate" matSortDirection="asc" matSortDisableClear
                [dataSource]="dataSource">
                <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ key.includes('viewUpload&DownloadPDF') ? 'View Upload & Download PDF' : camelToSentenceCase(key) }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = dataIndex">
                        <span *ngIf="!key.includes('viewUpload&DownloadPDF'); else viewDownloadPDF">
                            <span *ngIf="element[key]; else defaultText">
                                <ng-container *ngIf="camelToSnakeCase(key).indexOf('created')<0; else date ">
                                    {{element[key]}}
                                </ng-container>
                            </span>
                        </span>
                        <ng-template #viewDownloadPDF>
                            <mat-icon type="button" (click)="downlaodReport(element.image,'jpg')" class="secondary-text"
                                matTooltip="Download Document">save_alt</mat-icon> &nbsp;&nbsp;
                            <mat-icon type="button" (click)="viewDocument(element.image,'jpg')" class="secondary-text"
                                matTooltip="View Document">remove_red_eye</mat-icon>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
            <form class="p-24 mx-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0" name="modulesForm" novalidate
                [formGroup]="serviceRequestForm">
                <mat-form-field class="mt-24" appearance="outline" fxFlex="48">
                    <mat-label>Comment</mat-label>
                    <input matInput formControlName="comments" [attr.disabled]='btnDisable' />
                    <mat-icon matSuffix class="secondary-text">comment</mat-icon>
                    <mat-error>
                        <app-mat-error [control]="serviceRequestForm.get('comments')"></app-mat-error>
                    </mat-error>
                </mat-form-field>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="space-between right">
                    <div class="logo  mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                    </div>
                    <div class="d-flex justify-content-end ">
                        <button mat-raised-button color="accent"  (click)="confirmDialog('Approved')"
                            [ngClass]='status=="Approved"?!btnDisable?"light-green":"green-500-bg green-50-fg":"fuse-white"'
                            [disabled]='btnDisable' class="add-product-button    mt-md-0">
                            <span>COMPELETED</span>
                        </button>
                        &nbsp;
                        <button mat-raised-button color="accent" (click)="confirmDialog('Rejected')"
                            [ngClass]='status=="Rejected"?!btnDisable?"red":"red-500-bg red-50-fg":"fuse-white"'
                            [disabled]='btnDisable' class="add-product-button   mt-md-0">
                            <span>REJECTED</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>