<div [class.sub-row]="title" *ngIf="modulesMapped.length>0">
    <p>{{ title }}</p>
    <mat-table #table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">

         <!-- COLUMNS AND ROWS-->
         <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>{{ camelToSentenceCase(key)  }}</mat-header-cell>
    
            <mat-cell *matCellDef="let element; let i = dataIndex">
                <span *ngIf="!key.includes('can'); else icon">{{ element[key]  }}</span>

                <ng-template #icon>
                  <input type="checkbox">
                </ng-template>
            </mat-cell>
        </ng-container>
        <!-- -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>

