<!-- CONTENT CARD -->
<div class="content-card" fusePerfectScrollbar style="margin: 12px 10px;">
    <div fxLayout="row" fxLayoutAlign="space-between" class="p-24 ">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">accessibility
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
             Access Control
          </span>
        </div>

    </div>
    <div *ngIf="message.length > 0" fxLayout="row" fxLayoutAlign="center" class="p-24  message-box {{ type }} ">
        {{ message }}
    </div>
    <app-mat-table [data]="roleModulesList" [displayedColumns]="displayedColumns">
    </app-mat-table>
</div>
<!-- / CONTENT CARD -->