<!-- CONTENT CARD -->
<div class="content-card" fusePerfectScrollbar>
    <div fxLayout="row" fxLayoutAlign="space-between" class="p-24">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">accessibility
            </mat-icon>
            <span class="logo-text h1" [@animate]="{
                    value: '*',
                    params: { delay: '100ms', x: '-25px' }
                }">
                Access Control
            </span>
        </div>
    </div>
    <div *ngIf="responseMessage.length > 0" fxLayout="row" fxLayoutAlign="center" class="p-16  message-box {{ errorType }} ">
        {{ responseMessage }}
    </div>
    <app-table-row  [dataSource]="roles" [displayedColumns]="displayedColumns"  >
    </app-table-row>
  
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="pageSizeOptions"></mat-paginator>

</div>
<!-- / CONTENT CARD -->