@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "src/@fuse/scss/fuse";

.profile-box {
    border-radius: 4px;
    overflow: auto;
    margin-bottom: 16px;

    .content {
        flex-direction: column;
        padding: 20px; 
    }


    &.info-box {
        .info-line {
            margin-bottom: 24px;
            display: flex;
            width: 50%;
            padding:0px 20px;
            justify-content: space-between;
            .title {
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 4px;
            }
            .quest {
                font-size: 15px;
            }

            .info {
                text-align: right;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}