<div class="page-container page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg "></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header " style="display: flex; justify-content: center; margin-top: 100px;"   fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
            <div class="hero-text">
                <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    WELCOME TO THE PORTAL
                </h1>
                <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    Our courses will step you through the process of building a small application, or adding a new feature
                    to an existing application.
                </h3>
            </div>

        </div>
        <!-- / HEADER -->
</div>