<div class="page-container page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg "></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="headers " style="display: flex; justify-content: center; margin-top: 100px;"   fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
            <div class="hero-text">
                <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    Welcome to AionRubix - Agent Portal
                </h1>
                <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    The Agent Portal facilitates the Call Center Agents to connect with customers using video calls, customers are verified using the details submitted using various channels, and the due diligence is performed 
                    against the available data. It also Authenticate & Authorize portal users using the User Management module.
                </h3>
            </div>

        </div>
        <!-- / HEADER -->
</div>