<div [class.sub-row]="title">
    <p>{{ title }}</p>
    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <!-- COLUMNS AND ROWS-->
        <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>{{ key.includes('Icon') ? 'Modules' : camelToSentenceCase(key) }}</mat-header-cell>

            <mat-cell *matCellDef="let element; let i = dataIndex">
                <span *ngIf="!key.includes('Icon'); else permissions">
                    <span *ngIf="element[camelToSnakeCase(key)]; else defaultText">
                        <ng-container  *ngIf="camelToSnakeCase(key).indexOf('created')<0; else date "  >
                            {{element[camelToSnakeCase(key)]}}
                        </ng-container>
                    </span>
                </span>
                <ng-template #defaultText>
                    <app-default-text></app-default-text>
                </ng-template>
                <ng-template #permissions>
                    <mat-icon *ngIf="key === 'expandIcon' " (click)="toggleExpandableSymbol(element['id'])"> {{expandedId==element['id'] ? 'keyboard_arrow_up' : ' keyboard_arrow_down'}} </mat-icon>
                    <mat-icon *ngIf="key === 'expandIcon' " (click)="toggleExpandableSymbol(element['id'])"></mat-icon>
                </ng-template>
                <ng-template #date>
                    {{element[camelToSnakeCase(key)] | date:'mediumDate'}}
                </ng-template>

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [@expandableRow]="element['id'] === expandedId ? 'expanded' : 'collapsed'">
                <app-permission *ngIf="expandedId==element['id']" [modules]="element['modules']"></app-permission>
            </mat-cell>
        </ng-container>

        <!-- -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail'];">
        </mat-row>

    </mat-table>
</div>