<div >
    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <!-- COLUMNS AND ROWS-->
        <ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>{{ key.includes('Icon') ? 'Modules' : camelToSentenceCase(key) }}</mat-header-cell>

            <mat-cell *matCellDef="let element; let i = dataIndex">
                <ng-container  [ngSwitch]="key">
                    <span  *ngSwitchCase="'expandIcon'">
                        <mat-icon class="hover" *ngIf="key === 'expandIcon' " matTooltip="Explore" (click)="toggleExpandableSymbol(element['id'])"> {{expandedId==element['id'] ? 'keyboard_arrow_up' : ' keyboard_arrow_down'}} </mat-icon>
                        <mat-icon class="hover" *ngIf="key === 'expandIcon' " matTooltip="Close" (click)="toggleExpandableSymbol(element['id'])"></mat-icon>
                        </span>
                    <span  *ngSwitchCase="'action'">
                        <mat-icon class="hover" appPermission [permissions]="userPermissions"  matTooltip="Delete role" [type]="'delete'" color="warn" type="button" (click)="onDelete(element['id'])">delete</mat-icon> &nbsp;&nbsp;
                        <mat-icon class="hover" type="button" matTooltip="Edit role" (click)="onEdit(element)">mode_edit</mat-icon>
                        </span>
                    <span *ngSwitchCase="'status'">
                        <app-status [status]="element[key]"></app-status>
                    </span>
                    <span *ngSwitchCase="'createdOn'">
                        {{element[camelToSnakeCase(key)] | date:'mediumDate'}}
                    </span>
                    <span  *ngSwitchDefault>
                        <span *ngIf="element[camelToSnakeCase(key)]; else defaultText">
                            {{element[camelToSnakeCase(key)]}}
                        </span>
                    </span>
                </ng-container>
                <ng-template #defaultText>
                    <app-default-text></app-default-text>
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [@expandableRow]="element['id'] === expandedId ? 'expanded' : 'collapsed'">
                <app-permission *ngIf="expandedId==element['id']" [permissions]="permissions" [modules]="element['modules']"></app-permission>
            </mat-cell>
        </ng-container>

        <!-- -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail'];">
        </mat-row>

    </mat-table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>